<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.file.mapper.FileMapper">
    <select id="selectFile" resultType="com.nhnacademy.jdbc.board.file.domain.File">
        select file_no,file_name,file_path,post_no
        from file
        where post_no = #{postNo}
    </select >
    <delete id="deleteFile">
         delete from file where post_no = #{postNo}
    </delete>
    <insert id="insertFile">
        <selectKey keyProperty="post_no" resultType="int" order="BEFORE">
            select MAX(post_no)
            from post
        </selectKey>
        INSERT INTO file(file_no,file_name,file_path,post_no)
        VALUES(default,#{file.fileName},#{file.filePath},#{post_no})
    </insert>

</mapper>
