<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
    <select id="selectPost" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select post_no, post_title, post_content, write_datetime, reply_order, user_no, board_type_code, parent_post_no, top_post_no, modifier_user_no,modify_datetime
        from post
        where post_no = #{no} and is_delete = false
    </select>

    <select id="selectPosts" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select post_no, post_title, post_content, write_datetime, reply_order, user_no, board_type_code, parent_post_no, top_post_no
        from post where is_delete = false
    </select>

<!--    답글용이랑 본글용이랑 insert 따로 만들어야 될듯-->
    <insert id="insertPost">
        insert into post(post_title, post_content, write_datetime, reply_order,
                         user_no, board_type_code, is_delete) -- todo
        values (#{postTitle}, #{postContent}, #{writeDateTime},
                #{replyOrder}, #{userNo}, #{boardTypeCode}, #{isDelete})
    </insert>

    <update id="updatePostByNo">
        update post
        set post_title = #{post.postTitle},post_content = #{post.postContent},modifier_user_no = #{post.modifierUserNo},modify_datetime = #{post.modifyDatetime}
            where post_no = #{post.postNo}
    </update>

    <delete id="deleteByNo">
        update post set is_delete = true where post_no = #{no}
    </delete>
</mapper>
