<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 목록</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>(수정자)</th>
        <th>작성일시</th>
        <th>댓글 개수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${deletedPostList}">
        <td th:text="${post.postNo}"></td>
        <td>
            <a th:href="@{/post/deletedPost/viewDeletedPost(deletedPostNo=${post.postNo})}" th:text="${post.postTitle}"/>
        </td>
        <td th:text="${post.userNo}"></td>
        <td th:text="${post.modifierUserNo}"></td>
        <td th:text="${post.writeDateTime}"></td>
        <td>0</td>
        <td>
            <a th:href="@{/post/deletedPost/restorePost(deletedPostNo=${post.postNo})}" th:text="복구"/>
        </td>
        <!--       todo: 댓글 수 해줘야되고 사용자 번호가 아니라 join 해서 이름가져와야됨 dto 만들어야지-->
    </tr>
    </tbody>
</table>
<br/>
<!--페이지 구현 한 화면에 15개씩 뿌려준다는 가정하에-->
<br/>
<a th:href="@{/post/list}">게시판으로 돌아가기</a>
</body>
</html>