<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
</head>
<body>
<h1>게시글 상세보기</h1>
<a th:href="@{/post/list}">목록보기</a>
<span th:if="${loginUserType==1||post.userNo==loginUserNo}">
    <a th:href="@{/post/update(postNo=${post.postNo})}">수정</a>
    <a th:href="@{/post/delete(postNo=${post.postNo})}">삭제</a>
</span>
<a th:if="${loginUserNo!=null}" th:href="@{/reply/register(parentPostNo=${post.postNo})}">답글 적기</a>
<br/>
<label>제목 : </label><span th:text="${post.postTitle}"/>
<fieldset>
    <legend>게시글 정보</legend>
    <label>게시글 번호 : </label><span th:text="${post.postNo}"/><br/>
    <label>작성자 : </label><span th:text="${post.userNo}"/><br/>
    <label>작성일시 : </label><span th:text="${post.writeDateTime}"/><br/>
    <div th:if="${post.modifierUserNo!=null}">
        <label>수정자 : </label><span th:text="${post.modifierUserNo}"/><br/>
        <label>수정일시 : </label><span th:text="${post.modifyDatetime}"/><br/>
    </div>
</fieldset>
<br/>
<fieldset>
    <legend>본문</legend>
    <div stype="white-space:pre-wrap" th:utext="${post.postContent}"></div>
</fieldset>
    <div th:if="${file!=null}">
        첨부파일:<a th:href="@{/post/postView(no = ${post.postNo})}" th:text="${file.fileName}" />
    </div>
    <a th:href="@{/post/postView/isUserGoodToPost(postNo=${post.postNo})}">좋아요</a>
    <span th:text="${goodCount}"/><br/>
<fieldset>
    <legend>댓글</legend>
    <form method="post" th:action="@{/comment/register(postNo=${post.postNo})}">
        <textarea name="commentContent" rows="5" cols="80"></textarea>
        <input type="submit" value="등록"/>
    </form>
    <table>
        <thead>
        <tr>
            <th>작성자</th>
            <th>댓글 내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment:${comments}">
            <td th:text="${comment.userNo}"></td>
            <td th:utext="${comment.commentContent}"></td>
            <td th:if="${comment.userNo==loginUserNo}">
                <a th:href="@{/comment/modify(commentNo=${comment.commentNo})}">수정</a>
                <a th:href="@{/comment/delete(commentNo=${comment.commentNo}, postNo=${post.postNo})}">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>
</body>
</html>