<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 목록</h1>
<td>
    <a th:href="@{/}">메인페이지가기</a>
</td>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>(수정자)</th>
        <th>작성일시</th>
        <th>댓글 개수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td th:text="${post.postNo}"></td>
        <td>
            <a th:href="@{/post/postView(no=${post.postNo})}" th:text="${post.postTitle}"/>
        </td>
        <td th:text="${post.userNickname}"></td>
        <td th:text="${post.modifierUserNickname}"></td>
        <td th:text="${post.writeDatetime}"></td>
        <td th:text="${post.commentCount}"></td>
<!--       todo: 댓글 수 해줘야되고 사용자 번호가 아니라 join 해서 이름가져와야됨 dto 만들어야지-->
    </tr>
    </tbody>
</table>
<br/>
<!--페이지 구현 한 화면에 15개씩 뿌려준다는 가정하에-->
<span th:each="page:${#numbers.sequence(1,lastPage)}">
    <a th:href="@{/post/list(page=${page})}" class="btn" th:text="${' ['+page+'] '}"></a>
</span>
<br/>
<a href="/post/register" class="btn">게시글 등록</a>
<div th:if="${userTypeCode} == 1">
    <a href="/post/deletedPost" class="btn">삭제된 게시글 보기</a>
</div>
</body>
</html>